@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .default-box {
    background-color: red;
    @apply justify-center w-full h-52 bg-gray-200 items-center;
  }
}

.default-button {
  @apply p-3 rounded-md w-52 text-stone-100 font-bold;
  background: rgb(254,132,0);
  background: linear-gradient(90deg, rgba(254,132,0,1) 0%, rgba(254,183,45,1) 100%);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #223742;
}

a {
  color: inherit;
  text-decoration: none;
}